@import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
*{    
margin: 0;
padding: 0;
}
.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 33%;
    border: 3px solid rgb(150, 144, 144);
    border-radius: 50px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    background: url(https://images.pexels.com/photos/3265460/pexels-photo-3265460.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
}
.nav-list{
    width: 70%;
    background-color: ;
    display: flex;
    align-items: center;
}

.nav-list li{
     list-style: none;
     padding: 26px 30px;
}

.nav-list li a{
  text-decoration: none;
  color: black;
}


.rightNav{
    background-color: ;
    width: 80%;
    text-align: right;
    padding: 0 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid black;
    border-radius: 9px;
}

.background{
    background: url("https://images.pexels.com/photos/1242764/pexels-photo-1242764.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500");
    background-size: cover;
    background-blend-mode: darken;
}

.firstsection{
    height: 70vh;
}

.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 50%;
    margin: auto;
}

.firstHalf{
   width: 75%;
   display: flex;
   flex-direction: column;
   justify-content: center;

}

.secondtHalf{
    width: 30%;

}
.secondtHalf img{
    width: 70%;
    border: 4px solid gray;
    border-radius: 150px;
    display: block;
    margin: auto;
}

.text-big{
    font-size: 30px;

}

.text-small{
    font-size: 20px;

}

.btn{
padding: 8px 20px;
margin: 7px 3px;
border: 2px solid rgb(59, 58, 58);
border-radius: 8px;
font-size: 12px;
background: none;
color: beige;
cursor: pointer;
}

.btn-sm{
    padding: 6px 10px;
    vertical-align: middle;

}

.section{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1133222222222px;
    margin: auto;
    font-family: @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
  }

.section-Left{
    flex-direction: row-reverse;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1133222222222px;
    margin: auto;
    font-family: @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
  }

  .section-Right{
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1133222222222px;
    margin: auto;
    font-family: @import url('https://fonts.googleapis.com/css2?family=Jomhuria&display=swap');
  }
     

}
 .paras{
   padding: 0 65px;
 }

 .sectionTag{
     padding: 15px 0;
 }

.thumbnail img{
     width: 250;
     border: 6px ;
     border-radius: 26px;
     margin-top: 19px;
     padding: 12px;     
}

.GOT{
    width: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    text-align: center;
    font-size: 25px;
    color: rgb(2, 100, 100);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.text-footer{
    display: flex;
    color: white;
    
}

.burger{
    position: absolute ;
    cursor: pointer;
    right: 5%;
    top: 55px;

}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px;
}
@media only screen and (max-width: 1140px){
    .nav-list{
        flex-direction: column;
    }

    .navbar{
        flex-direction: column;
    }

    .rightNav{
        text-align: center;
    }
}